@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --montserrat: 'Montserrat', sans-serif;
}

body {
  font-family: var(--montserrat);
  font-size: inherit;
  width: 100%;
  height: 100%;
}

input #search-clear {

}