@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --montserrat: 'Montserrat', sans-serif;
  --opensans: 'Open Sans', sans-serif;
}

body {
  font-family: var(--montserrat);
  font-size: inherit;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 768px) {
body nav {
  height: auto;
  position: absolute;
  display: flex;
  top: 105px;
  z-index: 9999;
  right: 10px;
  background: white;
  border-bottom-left-radius: 10px;
  padding: 0;
  border-bottom-right-radius: 10px;
  box-shadow: -2px 6px 5px rgba(0,0,0,0.3);
  translate: 130% 0;
  transition: all 300ms;
  opacity: 0;
}
body nav.active {
  width: 200px;
  height: auto;
  padding: 0 0;
  translate: 0 0;
  transition: all 300ms;
  opacity: 1;
}}